<div class="container-fluid">
<form class="input" action="index.html" method="postChar">
    <div class="form-group">
        <label for="name">Plater Name:</label>
        <input type="text" name="nameIn" placeholder="Name">
        <label for="character">Character:</label>
        <input type="text" name="character" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="Strength">STR:</label>
        <input type="number" name="strength">
        <label for="intelligence">INT:</label>
        <input type="number" name="intelligence">
        <label for="wisdom">WIS:</label>
        <input type="number" name="wisdom">
        <label for="dexterity">DEX:</label>
        <input type="number" name="dexterity">
        <label for="constitution">CON:</label>
        <input type="number" name="intelligence">
        <label for="strengthWill">WIL:</label>
        <input type="number" name="strengthWill">
    </div>
    <div class="form-group">
      <label for="race">RACE:</label>
      <input class='info' type="text" name="race" value="Human">
      <label for="class">CLASS:</label>
      <input class='info' type="text" name="class">


    </div>
</form>
</div>
